:root {
    --dark-shade-gray: #282725;
    --medium-shade-gray: #525252;
    --dark-grey: #373633;
    --dark-bluish-gray: #3C424A;
}

body {
    background-color: var(--medium-shade-gray);
    margin: 0;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation-bar, .logo, .main-section, .index, .footer {
    border-radius: 15px;
}

.navigation-bar {
    background-color: var(--dark-shade-gray);
    height: 60px;
    width: 1250px;
    margin: 50px auto 0;
}

.logo {
    background-color: var(--dark-bluish-gray);
    height: 100px;
    width: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.main-section {
    background-color: var(--dark-grey);
    height: 600px;
    width: 1500px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.index {
    background-color: var(--dark-shade-gray);
    height: 520px;
    width: 300px;
    position: fixed;
    margin-top: 100px;
    bottom: 240px;
    z-index: 2;
}

.footer {
    background-color: var(--dark-bluish-gray);
    height: 200px;
    width: 3000px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}